---
import Layout from "../layouts/Layout.astro"
import { getCollection } from "astro:content";

const games = await getCollection("games");
---

<Layout title="Games">
    <main>
        <h1>Games</h1>
        <p>Juegos populares</p>
        
        <section>
            <div class="games">
                {
                    games.map((game: any) => {
                        const { data, slug } = game;
                        const { title, img } = data;

                        return (
                            <article class="game">
                                <a href={`/game/${slug}`}><img src={img} alt={title} /></a>
                                <h2>{title}</h2>
                            </article>
                        );
                    })
                }
            </div>
        </section>
    </main>
</Layout>

<style>
    main {
        max-width: 800px;
        margin: 0 auto;
    }
    .games {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    article {
        padding: 1rem;
        border-radius: 2.5rem;
        text-align: center;

        img {
            border-radius: 1rem;
        }
    }
</style>